body {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BloSxjK/horizon-of-a-rotating-earth-from-space_4ydbryjp__F0000.png");


}


.flex-container {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.flex-column {
  flex-grow: 1;
}

.control-panel {
  width: 250px;
  height: 400px;
  background-color: #dbdbdb;
  padding: 20px;
}

.result-panel {
  width: 550px;
  margin-left: 20px;
  height: 500px;
  background-color: #dbdbdb;
  padding: 20px;
}

#main-title {
  margin-left: 300px;
  color: #ffffff;


}
